<% if (title) { %>
    <h1><% title %></h1>
    <%} else {
        res.redirect('/')
    } %>

    <%- messages()%>
    
    <form class="account" action="/account/login" method="post">
        <fieldset>
            <legend>Login</legend> 
            <label for="acount_email">Email:</label>
            <input type="text" id="account_email" name="account_email" value="name@email.com">
            <label for="account_password">Password:</label>
            <input type="text" id="account_password" name="account_password" value="password">
            <button type="submit">Login</button>
            <p>No account? <a href="/account/register">Sign-up</a></p>
        </fieldset>
    </form> 