<% if (title) { %>
   <h1><% title %></h1>
   <%} else {
       res.redirect('/')
   } %>
    
    <%- messages()%>

 <form class="account" action="/account/register" method="post"> 
    <fieldset>
      <legend>Register</legend>
    <label for="account_firstname">First Name:</label>
    <input type="text" id="account_firstname" name="account_firstname" required>
    <label for="account_lastname">Last Name:</label>
    <input type="text" id="account_lastname" name="account_lastname"required>
    <label for="account_email">Email:</label>
    <input type="text" id="account_email" name="account_email" required>
    <label for="account_password">Password:</label>
    <input type="text" id="account_password" name="account_password" required>
    <button type="submit">Register</button>
   </fieldset>
 </form>