/* style for whole page */
:root{
  --primary-color:#fff;
  --secondary-color:rgb(0, 0, 0);
  --third-color: #388ad2;
  --fourth-color:#7cb7eb;
}
html{
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing:inherit;
}
body{
  font-family: Arial, Helvetica, sans-serif;
}
.page{
  max-width:95%;
  background-color:var(--primary-color);
}
/* styling header */
#top-header{
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding:25px;
  background-color: var(--primary-color);
}
.siteName a{
  flex:1;
  padding-left:8px;
  color:var(--secondary-color);
  text-decoration: none;
  font-size:30px;
  font-weight: bold;

}
#tools a{
  margin-left: auto;
  padding-right: 8px;
  color:var(--secondary-color);
  text-decoration: none;
  font-size: 1em;
}
/* styling navigation */
nav{
 color: var(--primary-color);
 background-color: var(--secondary-color);
 display: flex;
 justify-content: space-around;
 align-items: center;
 font-size: 1em;
}
nav ul{
  display: flex;
  justify-content: space-around;
  width:20px;
  list-style-type: none;
  text-decoration: none;
}
nav li{
padding: 0 10px 0 10px;
}
li a:hover{
 color:var(--third-color);
}
/* styling main */
h1.title{
  font-family: 'Bitter', serif;
}
section{
  margin-top: 30px;
  margin-bottom: 30px;
}
main{
  padding:20px;
}
main img{
  width:20rem;
  height: auto;
}
.container{
  background-color: rgba(255, 255, 255, 0.649);
  padding: 10px;
}
 h2{
  font-family: 'Bitter', serif;
  color: var(--third-color);
}
.container p{
  color: var(--third-color);
}
a.button{
  padding:10px;
  text-align:center;
  max-width: 80%;
  color:var(--secondary-color);
  font-weight:bold;
  background-color: var(--fourth-color);
  text-decoration: none;
}
section.content{
  margin: 10px;
  margin-top: 20px;
}
div.upgrades{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap:5px;

}
div.item{
  text-align: center;
  color:var(--secondary-color);
  background-color: var(--fourth-color);
}
.item img{
  display: block;
  margin-left:30px;
  width: 50px;
  height: auto;
}
.item a{
  color: var(--secondary-color);
  font-weight: bold;
  text-decoration: none;
}
/* Styling the footer */
footer{
  text-align:left;
  font-size: 1em;
  background-color: var(--primary-color);
  padding-bottom: 20px;
  padding-left: 40px;
  
}
@media screen and (min-width: 650px){
  body{ 
    background-image: url("../images/site/checkerboard.jpg");
    font-size: 12px;
  }
  nav ul{
    width: 50px;
    font-size: 1.5em;
  }
  .hero-section{
    display: flex;
    flex-direction:column;
    width: 100%;
    height: auto;
  }
 h1.title{
  font-size:50px;
 }
 .container{
  position:absolute;
  margin-top: 95px;
 }
 main img{
  width:50rem;
  height: auto;
  margin-left:15em;
}
div.split{
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}
section.content{
  width:30em;
  height: auto;
  margin: 30px;
}
}
  