<% if (title) { %>
    <h1><%- title %></h1>
    <%} else {
        res.redirect('/')
    } %>

<div class="link" >
<a href="../inventory/add-classification.ejs">Add New Classification</a>
<a href="../inventory/add-inventory.ejs">Add New Vehicle</a>
</div>
